<h1>Add a phone number to <%= @contact.name() %> </h1>

<form action="/contacts" method="post">
  <input id='number_id' name='number_id' type='hidden' value='<%= @phone.uid() %>'>

  <label for='number'>Contact's number:</label>
  <input id='number' name='number' type='text'>

  <label for='type'>What type of number?:</label>
  <input id='type' name='type' type='text'>

  <button type="submit">Add new number</button>
</form>

<!-- <h3>Here are all the numbers for this contact:</h3>

<ul>
  <% @dealership.cars().each() do |car| %>
  <li><a href="/vehicles/<%= car.id() %>"><%= car.make() %> <%= car.model() %> <%= car.year() %></a></li>
  <% end %>
</ul>

<<a href="/">Return to Main Page</a> -->
